<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.plating" >

    <!-- Access Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Access Other Phone Devices -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- GCM permission -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.plating.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- GPS Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Read phone number for comfortable sign up -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- SMS -->
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <permission
        android:name="com.plating.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_512"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">


        <activity
            android:name=".pages.a_splash.SplashActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WelcomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/kakao_scheme"
                    android:host="@string/kakaolink_host" />
                <!-- Accepts URIs that begin with "recipe-app://recipes" -->
                <data android:scheme="plating" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.ab_tutorial.TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".pages.b_login.LogInActivity"
            android:label="@string/title_activity_my_information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.c_daily_menu_list.DailyMenuListActivity"
            android:label="@string/title_activity_menu_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.c_daily_menu_list.MainBannerActivity"
            android:label="@string/title_main_banner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.d_menu_detail.MenuDetailActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.h_cart.CartActivity"
            android:label="@string/title_activity_cart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.i_set_location.SetLocationActivity"
            android:label="@string/title_activity_set_location"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.i_set_location.AddressCoverActivity"
            android:label="@string/title_activity_addess_cover"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.i_set_location.AddressListActivity"
            android:label="@string/title_activity_address_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.i_set_location.SetLocationActivityVer2"
            android:label="@string/title_activity_set_location"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.e_chef_detail.ChefDetailActivity"
            android:label="@string/title_activity_chef"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.j_payment.AddCreditCardActivity"
            android:label="@string/title_activity_my_information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.o_order_history.OrderHistoryListActivity"
            android:label="@string/title_activity_order_history"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.q_promotion.RegisterPromotionActivity"
            android:label="@string/title_activity_order_history"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        <activity android:name=".pages.r_coupon.MyCouponListActivity"
            android:label="@string/title_activity_my_coupon"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        <activity android:name=".pages.s_refer.ReferActivity"
            android:label="@string/title_activity_refer"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".pages.o_order_history.OrderHistoryActivity"
            android:label="@string/title_activity_order_history"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name=".pages.p_write_review_activity.WriteReviewListActivity"
            android:label="@string/title_activity_my_information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.z_other.ActWebView"
            android:label="@string/title_activity_my_information"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <receiver android:name="com.appsflyer.MultipleInstallBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.mixpanel.android.mpmetrics.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.plating" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false" />

        <!-- LogIn API -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <!-- Crashlytics -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="df61825ee969390862c5003da58eba3880f8cb2d" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
